.container {
  padding-top: 125px;
}
.content {
  padding-left: 14px;
  padding-top: 14px;
  padding-right: 10px;
  text-align: center;
}

/*para insertar docente*/
* {
  box-sizing: border-box;
}
form {
  width: 400px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}

form label {
  width: 85px;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 255px;
  padding: 3px 20px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 2px;
  display: inline-block;
}

form input[type="submit"] {
  width: 50%;
  padding: 5px 16px;
  margin-top: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
}
/*fin de insertar docente*/
