.container {
  padding-top: 125px;
}
.content {
  padding-left: 14px;
  padding-top: 14px;
  padding-right: 10px;
  text-align: center;
}

/*para insertar docente*/
* {
  box-sizing: border-box;
}
form {
  width: 400px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}

form label {
  width: 85px;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 255px;
  padding: 3px 20px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 2px;
  display: inline-block;
}

form input[type="submit"] {
  width: 50%;
  padding: 5px 16px;
  margin-top: 15px;
  border: 1px solid #000;
  border-radius: 10px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
}
/*fin de insertar docente*/
a:link {
  text-decoration: none;
}
.subSidebar {
  padding: 10px;
  padding-left: 65px;
  padding-top: 20px;
}

/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");
html,
body {
  /* background-image: url("https://getwallpapers.com/wallpaper/download/344517"); */
  /* background-image: url("https://getwallpapers.com/wallpaper/download/7676"); */
  background-image: url("http://2.bp.blogspot.com/-8LQBkzsrm8U/UjzwFDzNfzI/AAAAAAAAOio/aNaKwV5lADI/s1600/Descargar%2BPack%2BWallpaper%2BGratis%2BAbstractos%2B%25252818%252529.jpg");
  /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  align-content: center;
}

.card {
  background-color: rgba(14, 59, 104, 0.096) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
